/*Kompletne spaghetti, ale jakoś klei tą stronę, co mnie samego w ogóle dziwi XDDD*/

html, body{margin:0px; padding:0px; height: 100%; font-family: 'Open Sans';}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-top{
	position: relative;
	top:0px;
	height:80px;
	background-color: #F5C07B;
	padding:1px;
	z-index:2;
}
.navbar-top ul{
	float:right;
	margin-right:25px;
	margin-top:25px;
}
.navbar-top ul li{
	display:inline-block;
	padding-left:5vw;
	font-size:20px;
	font-weight:bold;
	
}
a{
	text-decoration: none;
	color:black;
}
#pic{
	float:left;
	width:80px;
}


#header{
	background-color:blue;
	text-align:center;
	position:relative;
	top:10px;
	font-size:40px;
	font-family:'Open Sans';

}


.column{
	float:left;
	margin:0;
	padding:0;
}



#lewo{
	width:140px;
	background-color: #dadfde;
	height:100%;
	border-width: 5px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #FFA72B, #68A5A7) 1 100%;
	border-left:none;
	position:fixed;
	left:0;
	top:0;
	z-index: 1;
}
#prawo{
	width:140px;
	text-align:center;
	background-color: #dadfde;
	float:right;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	border-width: 5px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #FFA72B, #68A5A7) 1 100%;
	border-right:none;
	font-family:'Times-New-Roman';
	position:fixed;
	right:0;
	top:0;
	z-index:1;
	height:100%;

}
#srodek{
	margin-left:145px;
	margin-right:145px;
	overflow: auto;
	width: calc(100% - 290px);
}
#srodek img{
	width:100%;
}
.column:after{
	content:"";
	display:block;
	clear:both;
}
@media (max-width: 960px) {
	#prawo{
		display:none;
	}
}
@media (max-width: 960px) {
	#srodek{
		width: calc(100% - 145px);
	}
}

#list{
	font-size: 20px;
	list-style-type: none;
	padding: 10px;
	padding-top:45px;
}
#list li{
	margin-top:30px;
	margin-bottom:20px;
	width:100%;
	position:static;
	left:0;
	text-align:left;
	

}
#list a:hover{
	color:#68A5A7;
	transition: color 250ms;
	
}

#test{
	display:unset;
}


footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: #68A5A7;
  z-index: 3;
  text-align:right;
  padding-right:25px;
  color:white;
}

nav a:hover{
  color: #68a5a7;
  transition: color 250ms;
  
}

#widthhack{
	max-width:1200px;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}
.post{
	padding:3%;
	margin: 12px 8% 12px 8%;
	border: 7px solid #F5C07B;
	border-radius:15px;
	max-width:1080px;
}
#nag{
	font-weight:bold;
	font-size:40px;
	text-align:center;
}

#lewoad{
	width:140px;
	text-align:center;
	background-color: #dadfde;
	float:left;
	writing-mode: vertical-lr;
	text-orientation: mixed;
	border-width: 5px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #FFA72B, #68A5A7) 1 100%;
	border-left:none;
	font-family:'Times-New-Roman';
	position:fixed;
	left:0;
	top:0;
	z-index:1;
	height:100%;

}